<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <!-- todo logo here -->
        <a class="navbar-brand" href="index.html">Logo</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Novinky</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="posts.html">Články</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">O nás</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Výstavy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/schuze.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>O nás</h1>
              <span class="subheading">Jak to všechno začalo.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3>Něco málo z historie...</h3>
          <p>V lednu 1986 vystoupil na výroční členské schůzi chovatelů ušlechtilých koček v Hradci Králové ing. Petr Šindelář s návrhem na rozdělení hradecké organizace na dvě menší a členové aby se rozdělili podle místa bydliště. Návrh šetřil čas i peníze chovatelů a předpokládal daleko lepší rozvinutí chovatelské činnosti. Byl bohužel zamítnut. To ale nevadilo několika nadšencům, kteří se s vervou pustili do obtížné práce - založit v Pardubicích novou ZO CHUK. Podporu našla nově vznikající organizace především v OV ČSCH.
            4. 3. 1986 se konala její ustavující schůze, kde se stal ing. Petr Šindelář předsedou.
            Před ZO 6 CHUK Pardubice stál nelehký úkol - uspořádat 1. samostatnou speciální výstavu ušlechtilých koček. Klece na tuto výstavu byly vyrobeny vlastnoručně během 2 měsíců za obětavé práce některých chovatelů a rodinných příslušníků.
            Generálkou na 1. speciální výstavu byla propagační výstava ve spolupráci se ZO Svinčany ve dnech 27. - 28. 9. 1986.
          </p>
          <ul>
            <li>
              <h4>Speciální výstava ušlechtilých koček (SVUK)</h4>
              <ol start="1">
                <li>
                  <p>se konala 4. - 5. 10. 1986 v prostorách ZK Tesla na Hronovické ulici. Vítězem se stal perský kocour Nero Sorno (červeně stínované kameo) paní Bohumily Kottnauerové z Hronova. Celkem se výstavy zúčastnilo 173 koček od 140 vystavovatelů.
                    Při naší ZO začal pracovat i kroužek mladých chovatelů, jehož členové se hned od počátku úspěšně zapojili do soutěže "chovatelských dovedností", kde postoupili až do národního kola, kde Otakar Šindelář získal 1. místo a Květa Zemanová 2. místo).</p>
                </li>
                <li>
                  <p>se pořádala 7. - 8. 11. 1987 opět v prostorech ZK Tesla. Vítězem výstavy se stal perský kocour Jonathan Spektrum (modrý kouřový) paní Grazyny Ruprechtové z Pardubic. Výstavy se zúčastnilo 170 koček od 143 vystavovatelů.
                  V březnu 1988 byl na výroční schůzi odhlasován nový výbor v čele s paní Janou Trylčovou. V tomto roce se naši členové zúčastnili také 3. propagační výstavy ve Svinčanech, a poté 4. propagační výstavy ve Svítkově. V národním kole soutěže chovatelských dovedností mladých chovatelů obsadil Otakar Šindelář tentokrát 3. místo.</p>
                </li>
                <li>
                  <p>se konala 22. - 23. 10. 1988 a jejím vítězem se stal perský kocour Kenn Gepard (krémový) chovatelky Miroslavy Zachařové z Trutnova. Celkem se této výstavy zúčastnilo 172 koček od 131 vystavovatelů.
                  V září 1989 proběhla ve Svítkově 5. propagační výstava ušlechtilých koček.</p>
                </li>
                <li>
                  <p>se pořádala 18. - 19. 11. 1989 a jejím vítězem se stal perský kocour Ambo Graja (černo-bílý) chovatelky Danuše Kolářové z Chrudimi. Výstavy se zúčastnilo 192 koček od 147 vystavovatelů.
                  V únoru 1990 skončilo dvouleté volební období a po bouřlivé diskusi byl zvolen nový výbor a do jeho čela se opět vrátil ing. Petr Šindelář, který se tolik zasloužil o založení samostané ZO v Pardubicích. Někteří bývalí členové výboru nesouhlasili s novým vedením a 22. 5. 1990 založili novou ZO, do které přešla necelá 1/3 členů. V tomto roce byla uskutečněna 6. propagační výstava. Začal vycházet pro potřeby organizace Zpravodaj.</p>
                </li>
                <li>
                  <p>se konala 17. - 18. 11. 1990 a vítězem se na ní stal perský kocour Black Epos (bílý s oranž. očima) mladého chovatele Jaroslava Balouna z Jihlavy. Výstavy se zúčastnilo 168 koček od 122 vystavovatelů.</p>
                </li>
                <li>
                  <p>se pořádala 9. 11. 1991 a vítězem se stal perský kocour Guru la Habana (bílý s orsnžovýma očima) mladého chovatele Michala Veverky z Hradce Králové. Na této výstavě se poprvé posuzovalo veřejně na pódiu. Bylo zde 169 koček od 119 vystavovatelů.
                  V květnu 1992 jsme se zúčastnili propagační výstavy v Přelouči, kde m.j. televizní studio natočilo o naší organizaci krátký šot a za týden ho odvysílala stanice OK 3.</p>
                </li>
                <li>
                  <p>se konala 7. listopadu 1992 tentokrát v DK Dukla na Gorkého ulici. Vítězem se stala peršanka Laura Dukát (krémovobílá) chovatelky Jany Václavíkové z Nové Paky. Zúčastnilo se 147 koček od 107 vystavovatelů.</p>
                </li>
              </ol>
            </li>
            <li>
              <h4>Národní výstava ušlechtilých koček (NVUK)</h4>
              <p>se pořádala 23. října 1993 a vítězem se stal kocour Moonshadow vom Weserbogen (PER n) vystavovatelky Věry Rusové z Ústí nad Labem. Výstavy se zúčastnilo 180 koček od 162 vystavovatelů.
                V roce 1994 jsme měli pořádat svou první mezinárodní výstavu a bylo proto potřeba svépomocí opět vyrobit další klece, abychom ji byli schopni zabezpečit kapacitně.</p>
            </li>
            <li>
              <h4>Mezinárodní výstava ušlechtilých koček (MVUK)</h4>
              <ol>
                <li>
                  <p>byla 22. 10. 1994 v Sokolovně na Olšinkách. Poprvé u nás byly zahraniční posuzovatelky paní Christine Krug z Rakouska a paní Christine Werrman z Německa. Bohužel tuto naši výstavu hned v úvodu poznamena tragická událost. Posuzovatelka Dagmar Winklerová se při příchodu mezi posledními klecemi zhroutila a ani rychlá lékařská pomoc jí již nedokázala vrátit život. Zemřela mezi kočkami, mezi těmi, které sama tak milovala. Začátek výstavy byl tedy opožděn. Ostatní posuzovatelé si ochotně mezi sebou rozdělili zvířata, která měla posuzovat paní Winklerová. Vítězem se stala kočka Desmin Dilemma Dearest (PER a 02) majitelky Gisely Trucks-Dickow z Berlína (D). Celkem se zúčastnilo 251 koček od 240 vystavovatelů.
                    Na členské schůzi 17. 11. 1994 bylo dohodnuto, aby příští výstava byla již s podtitulem "Memoriál Dagmar Winklerové" na uctění jají památky. Vše bylo projednáno i s rodinou na naší výstavě zesnulé posuzovatelky.</p>
                </li>
                <li>
                  <h5>MVUK - 1. Memoriál Dagmar Winklerové</h5>
                  <p>byl 28. října 1995. Vítězkou se stala birma IC. Barbara von Helton manželů Topolových z Mostu. Zajímavostí byl japonský bobtajl. Výstavy se zúčastnilo 336 koček od 240 vystavovatelů.
                    V roce 1996 jsme si připomněli 10. výročí založení naší organizace.</p>
                </li>
                <li>
                  <h5>MVUK - 2. Memoriál Dagmar Winklerové</h5>
                  <p>se konal 26. 10. 1996. Vítězem se stal kocour IC. Shalimar Cream Camry (PER e) chovatelky Jany Kreplové z Prahy.</p>
                </li>
                <li>
                  <h5>MVUK - 3. Memoriál Dagmar Winklerové</h5>
                  <p>se pořádal 18. 10. 1997.</p>
                </li>
                <li>
                  <h5>MVUK - 4. Memoriál Dagmar Winklerové</h5>
                  <p>byl 17. 10. 1998. Vítězem se stal EC. Halleyween Dardanel (TUA w 61) majitelky Lindy Knýové z Prahy.</p>
                </li>
                <li>
                  <h5>MVUK - 5. Memoriál Dagmar Winklerové</h5>
                  <p>se konal 23. 10. 1999. Vítězkou se stala IC. Vallue's Ofelia (ABY n) majitelky Gryzyny Zbikowske z Warszawy (PL). Celkem se zúčastnilo 346 koček od 238 vystavovatelů.
                    25. - 26. 3. 2000 se v Praze konala Světová výstava koček v areálu PVA Letňany. Řada členů se jí zúčastnila jako vystavovatelé nebo alespoň jako diváci, protože kdy poštěstí, aby výstava tohoto rázu byla zase v naší republice.</p>
                </li>
                <li>
                  <h5>MVK - 6. Memoriál Dagmar Winklerové</h5>
                  <p>se pořádal 21. 10. 2000. Vítězi se stali kočky Pilar Arkovda Simon (SIA b) majitelky Dr. Jany Stěničkové z Brna a Joki Koki Hairy Huddle (SIB n 09 24) majitelky Aleny Kabátové z Plzně. Výstavy se zúčastnilo 324 zvířat od 194 vystavovatelů. Zajímavostí bylo předvedení plemene skotská klapouchá a bengálská, které jsme v Pardubicích zatím neměli.</p>
                </li>
                <li>
                  <h5>MVK - 7. Memoriál Dagmar Winklerové</h5>
                  <p>byl 17. 11. 2001 tradičně v Sokolovně Na Olšinkách. Vítězkou se stala Quassima Simon (SIA c 21) majitelky Dr. Stěničkové z Brna. Výstavy se zúčastnilo 294 koček od 197 posuzovatelů. Poprvé se na pardubické výstavě představil sphynx (bezsrstá kočka).
                    21. ledna 2002 rezignovali ze zdravotních důvodů na funkci předsedy a jednatele ing. Petr Šindelář a Mgr. Dagmar Šindelářová a byl zvolen nový výbor s předsedkyní Janou Novákovou a jednatelkou Mgr. Dagmar Přibylovou, který se bude snažit co nejlépe pokračovat ve šlépějích svých předchůdců.
                  </p>
                </li>
              </ol>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
